commands:
  catfood: "[task-prefix]-catfood.sh [long-ops] +catfood"
  litter: "[task-prefix]-litter.sh [long-ops] +litter"
  litter2: "task +litter [long-ops]"
  # addcatfood: "task log [ops] +catfood Feed cats"
vars:
  task-prefix: examples/task
  long-ops: rc.context=none rc.verbose=blank,header,label,new-uuid status:completed end:today export
  ops: rc.context=none rc.verbose=blank,header,label,new-uuid
